.RecordingEditor {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 6px solid #ffa229c0;
    border-radius: 5px;
    padding: 3px;
}

.RecordingEditor > * {
    margin: 0.2em;
}

.time-picker {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto;
    grid-auto-flow: column;
}

.RecordingEditor {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
}

/* terrible fox to overflow */
.RecordingEditor input {
    box-sizing: border-box;
}

.RecordingEditor > button[type=submit] {
    grid-column: 1/3;
}